<div class="row">
    <div class="container-fluid col-md-12">
        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="assets/img/welcome_bg.jpg" alt="">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1 id="carousel-text">AfekaBook</h1>
                            <h3 id="carousel-text-extended">Please Login Or Signup</h3>
                        </div>
                        <!--<div class="carousel-caption">-->
                            <!--<h1>Please Login Or Signup</h1>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="span12 centered">
                    <p id="singlePar">
                        This super-responsive Social-Network SPA was done with the latest internet Technologies and brought to you by <strong>Nati Yesharim</strong> and <strong>Mor Mauda</strong> as the Internet Technologies final course project

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="thumb">
    <span> <img src="assets/img/ng_matrix.png" class="img-rounded"/></span>
    <span class="caption">Angular 2</span>
</div>

<div class="thumb">
    <span> <img src="assets/img/HTML5_logo_black.png" class="img-rounded"/></span>
    <span class="caption">HTML5</span>
</div>
<div class="thumb">

    <span> <img src="assets/img/Bootstrap_logo.png" class="img-rounded"/></span>

    <span class="caption">BootStrap</span>

</div>
<div class="thumb">

    <span> <img src="assets/img/mysql2.png" class="img-rounded"/></span>

    <span class="caption">MySQL</span>

</div>
<div class="thumb">

    <span> <img src="assets/img/php.png" class="img-rounded"/></span>

    <span class="caption">PHP</span>

</div>
